<header class="header">
  <nav class="nav">
    <a href="#" class="logo-text">MonSite</a>
    
    <ul class="menu" id="menu">
      <li><a href="#">Accueil</a></li>
      <li><a href="#">Services</a></li>
      <li class="dropdown">
        <a href="#">Plus ▼</a>
        <ul class="dropdown-menu">
          <li><a href="#">Option 1</a></li>
          <li><a href="#">Option 2</a></li>
        </ul>
      </li>
    </ul>

    <div class="icons">
      <a href="#"><i class="fa fa-user"></i></a>
      <a href="#"><i class="fa fa-shopping-cart"></i></a>
    </div>

    <!-- Burger menu -->
    <div class="burger" onclick="document.getElementById('menu').classList.toggle('show')">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>
