<header class="header">
    <!-- Logo supprimé -->
    <nav class="nav">
      <ul class="menu">
        <li><a href="#">NEW</a></li>
        <li><a href="#">BEST SELLERS</a></li>
        <!-- Menu Bras avec sous-menu -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle">BRAS <i class="fa fa-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#">T-Shirt Bras</a></li>
            <li><a href="#">Wireless Bras</a></li>
            <li><a href="#">Sports Bras</a></li>
            <li><a href="#">Luxe Bras</a></li>
          </ul>
        </li>
        <li><a href="#">UNDERWEAR</a></li>
        <li><a href="#">SLEEP</a></li>
        <li><a href="#">ACTIVE</a></li>
        <li><a href="#">COLLECTIONS</a></li>
        <li><a href="#">BUNDLES</a></li>
        <li><a href="#">SALE</a></li>
      </ul>
      <div class="icons">
        <a href="#" class="search-icon">🔍</a>
        <a href="#" class="cart-icon">🛒</a>
      </div>
    </nav>
  </header>
  